name: tests
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USE_FIND_ALGORITHM: true
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JSCPD: false
          MARKDOWN_CONFIG_FILE: .markdownlint.yaml
      - run: go test -v -coverprofile=profile.cov ./...
      - uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
          ignore: "importas"
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
