name: tests
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/
            ~/go/bin/
          key: go-cache-${{ hashFiles('go.mod') }}
      - uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USE_FIND_ALGORITHM: true
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JSCPD: false
          MARKDOWN_CONFIG_FILE: .markdownlint.yml
          YAML_CONFIG_FILE: .yamllint.yml
          VALIDATE_GITLEAKS: false
          LOG_LEVEL: WARN
          VALIDATE_SHELL_SHFMT: false
      - uses: golangci/golangci-lint-action@v2
        with:
          timeout: 10m
          golangci-lint-flags: --timeout 10m
      - uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/
            ~/go/bin/
          key: go-cache-${{ hashFiles('go.mod') }}
      - run: go test -v -coverprofile=profile.cov ./...
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
